In [5]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
csv2013_06 = pd.read_csv("../RawData/CSVs/201306-citibike-tripdata.csv", low_memory=False)
df2013_06 = pd.DataFrame(csv2013_06)
df2013_06

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,695,2013-06-01 00:00:01,2013-06-01 00:11:36,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,19678,Subscriber,1983.0,1
1,693,2013-06-01 00:00:08,2013-06-01 00:11:41,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,16649,Subscriber,1984.0,1
2,2059,2013-06-01 00:00:44,2013-06-01 00:35:03,406,Hicks St & Montague St,40.695128,-73.995951,406.0,Hicks St & Montague St,40.695128,-73.995951,19599,Customer,NaN,0
3,123,2013-06-01 00:01:04,2013-06-01 00:03:07,475,E 15 St & Irving Pl,40.735243,-73.987586,262.0,Washington Park,40.691782,-73.973730,16352,Subscriber,1960.0,1
4,1521,2013-06-01 00:01:22,2013-06-01 00:26:43,2008,Little West St & 1 Pl,40.705693,-74.016777,310.0,State St & Smith St,40.689269,-73.989129,15567,Subscriber,1983.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577698,925,2013-06-30 23:59:27,2013-07-01 00:14:52,509,9 Ave & W 22 St,40.745497,-74.001971,462.0,W 22 St & 10 Ave,40.746920,-74.004519,15250,Subscriber,1964.0,1
577699,279,2013-06-30 23:59:36,2013-07-01 00:04:15,116,W 17 St & 8 Ave,40.741776,-74.001497,494.0,W 26 St & 8 Ave,40.747348,-73.997236,19411,Customer,NaN,0
577700,161,2013-06-30 23:59:33,2013-07-01 00:02:14,443,Bedford Ave & S 9 St,40.708531,-73.964090,282.0,Kent Ave & S 11 St,40.707645,-73.968415,18910,Subscriber,1972.0,2
577701,909,2013-06-30 23:59:47,2013-07-01 00:14:56,509,9 Ave & W 22 St,40.745497,-74.001971,462.0,W 22 St & 10 Ave,40.746920,-74.004519,16108,Customer,NaN,0
577702,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504.0,1 Ave & E 16 St,40.732219,-73.981656,16950,Customer,NaN,0

In [14]:
csv2021_06 = pd.read_csv("../RawData/CSVs/202106-citibike-tripdata.csv", low_memory=False)
df2021_06 = pd.DataFrame(csv2021_06)
csvJC2021_06 = pd.read_csv("../RawData/CSVs/JC-202106-citibike-tripdata.csv", low_memory=False)
dfJC2021_06 = pd.DataFrame(csvJC2021_06)
df2021_06 = df2021_06.append(dfJC2021_06)
df2021_06

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,6339C86D47EC0FAB,docked_bike,2021-06-02 17:18:45,2021-06-02 17:26:17,W 51 St & 6 Ave,6740.1,E 66 St & Madison Ave,6969.08,40.760659,-73.980420,40.768009,-73.968453,member
1,CDE3C147775B4002,docked_bike,2021-06-04 21:01:46,2021-06-04 21:32:09,W 56 St & 10 Ave,6955.01,E 9 St & Avenue C,5616.01,40.768254,-73.988639,40.725213,-73.977688,member
2,D335C3F6B412B846,docked_bike,2021-06-15 16:39:36,2021-06-15 16:55:02,E 56 St & Madison Ave,6732.01,E 16 St & 5 Ave,6022.04,40.761573,-73.972628,40.737262,-73.992390,member
3,8DA6810777C89735,docked_bike,2021-06-08 11:36:40,2021-06-08 11:39:41,E 68 St & 3 Ave,6896.16,1 Ave & E 62 St,6753.08,40.767128,-73.962246,40.761227,-73.960940,member
4,62D9B66A3A1D9FDF,docked_bike,2021-06-18 12:48:43,2021-06-18 13:04:14,E 48 St & 5 Ave,6626.01,W 20 St & 8 Ave,6224.05,40.757245,-73.978059,40.743453,-74.000040,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
71423,8DA32148B9DC1B15,classic_bike,2021-06-23 18:27:20,2021-06-23 18:33:23,Newport PATH,JC066,Hamilton Park,JC009,40.727224,-74.033759,40.727596,-74.044247,member
71424,E209A4E2ACA17FA2,docked_bike,2021-06-15 19:05:53,2021-06-15 19:14:37,Newport PATH,JC066,Grove St PATH,JC005,40.727223,-74.033758,40.719586,-74.043117,member
71425,A26E32E2F99755D8,classic_bike,2021-06-22 17:44:23,2021-06-22 17:52:36,Montgomery St,JC099,Hamilton Park,JC009,40.719420,-74.050990,40.727596,-74.044247,member
71426,D86BB03B2C61CB61,docked_bike,2021-06-07 14:48:34,2021-06-07 14:55:29,Montgomery St,JC099,Grove St PATH,JC005,40.719420,-74.050990,40.719586,-74.043117,member
71427,7BACA2F29D40FE7B,classic_bike,2021-06-30 07:47:49,2021-06-30 07:51:39,Montgomery St,JC099,Grove St PATH,JC005,40.719420,-74.050990,40.719586,-74.043117,member

In [25]:
csv2021_01 = pd.read_csv("../RawData/CSVs/202101-citibike-tripdata.csv", low_memory=False)
df2021_01 = pd.DataFrame(csv2021_01)
df2021_01
csvJC2021_01 = pd.read_csv("../RawData/CSVs/JC-202101-citibike-tripdata.csv", low_memory=False)
dfJC2021_01 = pd.DataFrame(csvJC2021_01)
df2021_01 = df2021_01.append(dfJC2021_01)
df2021_01

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2513,2021-01-01 00:00:11.9020,2021-01-01 00:42:05.2260,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47812,Customer,1969,0
1,2519,2021-01-01 00:00:15.0960,2021-01-01 00:42:14.9780,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47571,Customer,1969,0
2,1207,2021-01-01 00:00:28.9300,2021-01-01 00:20:36.6510,3144,E 81 St & Park Ave,40.776777,-73.959010,3724,7 Ave & Central Park South,40.766741,-73.979069,37451,Subscriber,2002,1
3,2506,2021-01-01 00:00:32.7130,2021-01-01 00:42:19.3980,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,48884,Customer,2002,1
4,959,2021-01-01 00:00:35.3650,2021-01-01 00:16:34.6010,534,Water - Whitehall Plaza,40.702551,-74.012723,332,Cherry St,40.712199,-73.979481,26837,Customer,2002,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11619,2476,2021-01-31 20:16:05.4700,2021-01-31 20:57:22.0110,3187,Warren St,40.721124,-74.038051,3483,Montgomery St,40.719420,-74.050990,44852,Subscriber,1958,1
11620,147,2021-01-31 21:05:05.2090,2021-01-31 21:07:32.8660,3186,Grove St PATH,40.719586,-74.043117,3187,Warren St,40.721124,-74.038051,46538,Subscriber,1972,1
11621,660,2021-01-31 21:06:23.5880,2021-01-31 21:17:23.8420,3211,Newark Ave,40.721525,-74.046305,3276,Marin Light Rail,40.714584,-74.042817,44398,Subscriber,1987,2
11622,384,2021-01-31 21:16:37.8220,2021-01-31 21:23:02.1240,3205,JC Medical Center,40.716540,-74.049638,3268,Lafayette Park,40.713464,-74.062859,41400,Subscriber,1989,1
11623,356,2021-01-31 23:24:50.8810,2021-01-31 23:30:47.3030,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,43766,Subscriber,1994,1

In [21]:
print("2013_06")
print(df2013_06.value_counts("usertype"))
print(df2013_06.value_counts("usertype", normalize=True))
print("------------------------------------")
print("2021_06")
print(df2021_06.value_counts("member_casual"))
print(df2021_06.value_counts("member_casual", normalize=True))

2013_06
usertype
Subscriber    337384
Customer      240319
dtype: int64
usertype
Subscriber    0.584009
Customer      0.415991
dtype: float64
------------------------------------
2021_06
member_casual
member    2181798
casual    1067147
dtype: int64
member_casual
member    0.67154
casual    0.32846
dtype: float64

In [22]:
print("2013-06")
print(df2013_06.value_counts("gender"))
print(df2013_06.value_counts("gender", normalize=True))
print("-------------------------")
print("2021_01")
print(df2021_01.value_counts("gender"))
print(df2021_01.value_counts("gender", normalize=True))

2013-06
gender
1    263492
0    240748
2     73463
dtype: int64
gender
1    0.456103
0    0.416733
2    0.127164
dtype: float64
-------------------------
2021_01
gender
1    722418
2    292460
0     92092
dtype: int64
gender
1    0.652608
2    0.264199
0    0.083193
dtype: float64